.kpi_container {
    font-size: 20px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

.kpi_name,
.kpi_subvalue {
    color: #606065;
    font-size: 12px;
    font-weight: 400;
}

.kpi_value_inline .kpi_subvalue {
    padding-left:5px;
}

.kpi_value {
    font-weight: 400;
    white-space: nowrap;
}