.kpi-group_container {
    display: flex;
}

.kpi-group_stat-wrapper {
    display: flex;
}

.kpi-group_separator {
    height: 24px;
    width: 0px;
    margin: auto 16px;
    border-right: 1px solid #e6e6eb;
}

.kpi-group_name {
    padding-bottom: 10px;
}